*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Segoe UI' , sans-serif;
}
body{
    scroll-behavior:  smooth;
}

header {
    background: #111;
    padding: 15px 50px;
    position: fixed;
    width: 100;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #0b86a8;
}

nav ul {
    list-style: none;
    display:  flex;
}

nav ul li {
    margin-left: 20px;
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, #72b6c9, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(233, 224, 224);
    padding-top: 80px;
}

.hero img {
    border-radius: 50%;
    margin-bottom:20px;
}

.hero button{
    padding:10px 20px;
    background: white;
    color: #ee9292d0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
}

.section {
    padding: 80px 50px;
    text-align: center;
}

.dark {
    background-color: aliceblue;
}

.skills {
    max-width: 600px;
    margin: auto;
}
.skills {
    margin: 20px 0;
}

.bar {
    background-color: #ddd;
    height: 10px;
    border-radius:  10px;
}

.progress {
    height: 10px;
    border-radius: 10%;
}

.html { width:  90%; background:#00ffdd; }
.css { width: 85%;background: #00aeff; }
.js { width: 75%; background: #f1e85e; }

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

